[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
pymysql = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
cryptography = "*"
flask-script = "*"
selenium = "*"
http-request-randomizer = "*"

[requires]
python_version = "3.7"
